img.centrale
{
display: block;
  margin-left: auto;
  margin-right: auto;
  height:200px;
  width:300px;
  padding-bottom:30px;
}

input[type="button"]
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family:tahoma;
  font-size:15px;
  text-align:center;
  font-weight:bold;
  height:30px;
  width:100px;
}
a.supprimer
{
  display: block;
  text-decoration:none;
  color:black;
  font-family:tahoma;
  font-size:15px;
  text-align:center;
  font-weight:bold;
  height:20px;
  width:200px;
  margin-left:82%;
  background-color:white;
  border: 2px solid #008CBA;
  font-size:15px;
  text-align:center;
  font-weight:bold;
}
a.supprimer:hover
{
  display: block;
  text-decoration:none;
  color:white;
  font-family:tahoma;
  font-size:15px;
  text-align:center;
  font-weight:bold;
  height:20px;
  width:200px;
  margin-left:82%;
  background-color:#008CBA;
  border: 2px solid #008CBA;
  font-size:15px;
  text-align:center;
  font-weight:bold;
}

input[type="button"]:hover
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family:tahoma;
  font-size:15px;
  text-align:center;
  font-weight:bold;
  background-color:rgb(57,121,218);
  color:white;
}

table.inscription
{
	margin-left:auto;
	margin-right:auto;
}
div.copyright
{
	text-align:right;
	margin-top:190px;
}
table.media
{
	float:left;
	margin-top:170px;
	border-spacing:20px;
}
table.menu
{
  margin-left: auto;
  margin-right: auto;
}
table.choix_modif
{
  margin-left: auto;
  margin-right: auto;
  border-radius:20px;
  opacity:0.8;
}
input[type="image"].choix_modif:hover
{
 width:320px;
 height:320px;
 border-radius:20px;
 opacity:0.8;
 transition: .5s ease;
}
input[type="image"].menu:hover
{
 width:220px;
 height:220px;
}
