div.copyright
{
	text-align:right;
	margin-top:200px;
}
input[type="image"].return
{
	height:50px;
	width:50x;
	margin: 0px 0px 0px 300px;
}

table.media
{
	float:left;
	margin-top:165px;
	border-spacing:20px;
}

img.petit
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:15px;
  width:30px;
}
img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:200px;
  width:300px;
}
input[type="submit"]
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family:tahoma;
  font-size:15px;
  text-align:center;
  font-weight:bold;
  height:30px;
  width:100px;
}
input[type="submit"]:hover
{
  display: block;
  background-color:rgb(57,121,218);
  color:white;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}
div.bleu
{
	width:100%;
	height:180px;
	background-color:rgb(57,121,218);
		color:white;
	font-family:tahoma;
	font-size:15px;
	text-align:center;
	padding:20px 0px;
	font-weight:bold;
}
div.position
{
	margin-right:350px;
}
