div.copyright
{
	text-align:right;
	margin-top:240px
}
table.media
{
	float:left;
	margin-top:220px;
	border-spacing:20px;
}
img.centrale
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:200px;
  width:300px;
}
input[type="image"]
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:200px;
  width:400px;
}
input[type="button"]
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family:tahoma;
  font-size:15px;
  text-align:center;
  font-weight:bold;
  height:30px;
  width:100px;
}
input[type="button"]:hover
{
  display: block;
  background-color:rgb(57,121,218);
  color:white;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}
div.bleu
{
	width:100%;
	height:180px;
	background-color:rgb(57,121,218);
		color:white;
	font-family:tahoma;
	font-size:15px;
	text-align:center;
	padding:20px 0px;
	font-weight:bold;
}
div.position
{
	margin-right:400px;
}
