body{
     margin: 0;
   padding : 0;
  background-color: #ffffff;
}
input[type="image"].return
{
	height:50px;
	width:50x;
	margin: 0px 0px 0px 300px;
}
h1
{
color : rgb(57,121,218);
text-align:center;
}  
.c 
{
  margin-left:510px;
  width:291px;
  left:539px;
}

#eye
{
width:20px;
margin: 18px 20px 0px 0px;
float:right;
}
/***********MENU PART***/
img.menu
{
    width: 60px;
    height: 60px;
    float: left;
    position: absolute;
    left: 40%;
    top: 0%;
}
.menu
{
	width: 100%;
	height: 60px;
	background-color: #fff;
	box-shadow: 4px 4px 20px #1e1e1e;
	position: fixed;
}
a.menu
{
    letter-spacing: 4px;
    position: absolute;
    left: 46%;
    top: 12%;
    font-size:30px ;
    text-decoration: none;
    color: #1e1e1e;
}
.menu ul
{
margin-left:42% 
}
.menu ul li 
{
	
list-style: none; /*to get ride of dots in the list*/
display: inline-block;
float: left;
line-height: 37px;
}
.menu ul li a
{
	
display: black;	
text-decoration:none;
font-size: 14px;
font-family: Verdana,sans-serif;
color: #1e1e1e;
padding: 0 20px;
display: flex;
align-items: flex-end;
}
.menu ul li a:hover
{
	

	border-bottom: rgb(156, 5, 5) 1px solid;
	transition: 0.7s all;

}
.login
{
	font-size: 12px;
	color: #1e1e1e;
	text-decoration: none;
	letter-spacing: 2px;
	position: absolute;
	top: 35%;
	left: 86%;

}
.sign-up
{
	font-size: 12px;
	color: #1e1e1e;
	text-decoration: none;
	letter-spacing: 2px;
	position: absolute;
	top: 35%;
	left: 94%;

}
div.copyright
{
	text-align:right;
	margin-top:480px;
	margin-right:10px;
	color:black;
}
table.media
{
	float:left;
	margin-top:460px;
	border-spacing:20px;
}
/********************/
.login-box
{
    width: 340px;
    position: absolute;
    top:10%;
    left: 49.8%;
    transform: translate(-50%,50%);
    color: white;
    font-family: sans-serif;
	background-color:white;
	
}

.login-box h1{
    float: left;
    font-size:40px ;
    border-bottom:6px solid#000000c2;
    margin-bottom: 50px;
    padding:-12px 0;
	
}

input[type="submit"]:hover
{
	background-color:rgb(57,121,218);
	color:white;
}
div
{
  margin-left: auto;
  margin-right: auto;
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin:8px 0;
    border-bottom: 1px solid #000000c2  ;
}
.textbox img{
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input{
     border: none;
     outline: none;
     background: none;
     color: #1f0202;
     font-size:18px;
     width: 180px;
     float: left;
     margin: 10px;
}

#image
{
	align:center;
  margin-left: auto;
  margin-right: auto;
}
.btn
{
    width: 100%;
    background: none;
    border: 1px solid #000000c2;
    color: rgb(57,121,218);
    font-size: 24px;
    cursor: pointer;
    text-align:center;
}
