div.copyright
{
	text-align:right;
	margin-top:125px;
}
h4
{
	margin-top:100px;
	font-family:tahoma;
}
table.media
{
	float:left;
	margin-top:105px;
	border-spacing:20px;
}
table#boutons
{
    margin-left:auto;
	margin-right:auto;
}
input[type="submit"]
{
	margin: 10px 0px 0px 0px;
	font-family:tahoma;

}
input[type="button"]
{
	margin: 10px 0px 0px 0px;
	font-family:tahoma;

}

.postionate
{
	text-align:left;
	left:10px;
}
pre
{
	font-size:12px;
}
table.inscription
{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
}

img.logo
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:200px;
  width:300px;
}
input[type=text]{

  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type="submit"] {
    color: rgb(91, 161, 212);
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: tahoma;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    height: 30px;
    width: 100px;
}
input[type="button"] {
    color: rgb(91, 161, 212);
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: tahoma;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    height: 30px;
    width: 100px;
}
div > div.notice
{
	text-align:center;
	font-family:arial;
	color:rgb(227, 230, 228);
}
input[type="submit"]:hover
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family:tahoma;
  font-size:15px;
  text-align:center;
  font-weight:bold;
   background-color:rgb(57,121,218);
   color:white;
}
input[type="button"]:hover
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family:tahoma;
  font-size:15px;
  text-align:center;
  font-weight:bold;
  background-color:rgb(57,121,218);
  color:white;
}
div.bleu {
    width: 100%;
    height: 210px;
    background-color: rgb(165, 194, 237);
    color: white;
    font-family: tahoma;
    font-size: 15px;
    text-align: center;
    padding: 20px 0px;
    font-weight: bold;
}
span
{
	white-space: nowrap;
}
div.position
{
	margin-right:400px;
}
